:root {
  --primary-color: #2a67ca;
  --nav-buttons: white;
  --logout-button-bg: #2a67ca;
}

* {
  margin: 0;
}

#container {
  padding: 1rem;
  display: flex;
  font-family: "Poppins", sans-serif;
  width: 100vw;
  height: 100vh;
}

/* ********* Left Bar Navigation ********* */

#leftBar {
  display: flex;
  width: 6vw;
  position: relative;
  flex-direction: column;
  align-items: center;
  background: var(--primary-color);
  border-radius: 10px;
}

#logo {
  width: 10vw;
}

#logoutEl {
  background-color: var(--logout-button-bg);
  color: var(--nav-buttons);
  border: white;
  font-size: 2vw;
}

#inactiveLink {
  opacity: 0.4;
  color: var(--nav-buttons);
  font-size: 2vw;
  margin: 2rem 0;
}
