:root {
  --primary-color: #2a67ca;
  --tertiary-color: #5184d6;
  --container-bg: #edebeb;
  --nav-buttons: #ffffff;
  /* --logout-button-bg: #2a67ca; */
  --border-radius: 10px;
}

* {
  margin: 0;
}

#container {
  padding: 1rem;
  display: flex;
  font-family: "Poppins", sans-serif;
  width: 100vw;
  height: 100vh;
  background-color: var(--container-bg);
}

/* ********* Left Bar Navigation ********* */

#leftBar {
  display: flex;
  width: 6%;
  position: relative;
  flex-direction: column;
  align-items: center;
  background: var(--primary-color);
  border-radius: 10px;
}

#logo {
  width: 10vw;
}

#logoutEl {
  background-color: var(--primary-color);
  color: var(--nav-buttons);
  border: var(--nav-buttons);
  font-size: 2vw;
}

#inactiveLink {
  opacity: 0.4;
  color: var(--nav-buttons);
  font-size: 2vw;
  margin: 2rem 0;
}

/* ********* Main (middle section) ********* */

#businessMain,
#sharkMain {
  width: 72%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
}

#banner,
#articlesContainer {
  width: 80%;
  border-radius: var(--border-radius);
}

/* *** banner *** */

#banner {
  background: var(--primary-color);
  color: var(--nav-buttons);
  height: 30%;
  display: flex;
  padding: 10px;
}

#dateNameDiv {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 10px 0 10px 20px;
  width: 50%;
}

#date {
  background: var(--tertiary-color);
  border-radius: 6px;
  padding: 6px;
  text-align: center;
  width: 30vh;
}

.fa-calendar {
  padding-right: 10px;
}

#headerName {
  font-size: 1.5rem;
}

#imgDiv {
  position: relative;
}

#bannerImg {
  position: absolute;
  left: 5rem;
  bottom: -6.5rem;
  width: 27vw;
  height: 42vh;
}

#articlesContainer {
  background: var(--nav-buttons);
  height: 64%;
  margin-top: 2rem;
}

/* ********* Right Bar ********* */

#rightBar {
  width: 19%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

#myProfileContainer,
#commentsContainer {
  background: var(--nav-buttons);
  border-radius: var(--border-radius);
}

#myProfileContainer {
  height: 30%;
}

#commentsContainer {
  margin-top: 2rem;
  height: 64%;
}
